.text_box_50{
	
	position:relative;
	width:50px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}
.text_box_250{
	
	position:relative;
	width:250px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}

.text_box_350{
	
	position:relative;
	width:350px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;;
}

.text_box_550{
	
	position:relative;
	width:550px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;;
}

.text_box_750{
	
	position:relative;
	width:750px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;;
}

.text_box_950{
	
	position:relative;
	width:850px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;;
}

.select_box_250{
	
	position:relative;
	width:250px;
	border:#dedfe1 solid 1px;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	padding-top:2px;
	padding-bottom:2px;
}

.select_box_350{
	
	position:relative;
	width:350px;
	border:#dedfe1 solid 1px;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	padding-top:2px;
	padding-bottom:2px;
}

.select_box_550{
	
	position:relative;
	width:550px;
	border:#dedfe1 solid 1px;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	padding-top:2px;
	padding-bottom:2px;
}
.select_box_750{
	
	position:relative;
	width:750px;
	border:#dedfe1 solid 1px;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	padding-top:2px;
	padding-bottom:2px;
}
.upload_box_250{
	
	position:relative;
	width:250px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}

.upload_box_350{
	
	position:relative;
	width:350px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}

.upload_box_550{
	
	position:relative;
	width:550px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}
.upload_box_750{
	
	position:relative;
	width:750px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
}

.text_area_250{
	
	position:relative;
	width:250px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
	height:100px;
}

.text_area_350{
	
	position:relative;
	width:350px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
	height:100px;
}

.text_area_550{
	
	position:relative;
	width:550px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
	height:100px;
}

.text_area_750{
	
	position:relative;
	width:750px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#6c6c6c;
	padding-bottom:5px;
	border:#e3e3e3 solid 1px;
	height:200px;
}